@charset "UTF-8";
* {
  box-sizing: border-box; }

/*import variables y mixins*/
/*colores*/
/*mapa de color*/
/*breakpoint*/
/*tamaños*/
/*fuentes*/
/*colores*/
/*mapa de color*/
/*breakpoint*/
/*tamaños*/
/*fuentes*/
/*mapa*/
/* fuentes descargadas a utilizar*/
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(../fonts/Roboto-BlackItalic.ttf); }

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf); }

/*pagina Bienvenidos index*/
.index {
  height: 100vh;
  margin: 0%; }
  .index .bienv {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../img/medialunas.webp);
    background-repeat: no-repeat;
    background-size: cover; }
  @media (min-width: 768px) {
    .index .bg {
      background-color: antiquewhite;
      width: 100%;
      height: 100%;
      margin: 0%;
      position: absolute;
      z-index: -1;
      clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%); } }
  @media (min-width: 1200px) {
    .index .bg {
      background-color: antiquewhite;
      width: 100%;
      height: 100%;
      margin: 0%;
      position: absolute;
      z-index: -1;
      clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%); } }
  .index .primary {
    grid-area: primary;
    margin: 0%; }
    @media (min-width: 768px) {
      .index .primary {
        text-align: left;
        margin: 4em 0 0 4em;
        color: black; } }
    @media (min-width: 1200px) {
      .index .primary {
        text-align: left;
        margin: 4em 0 0 4em;
        color: black; } }
    .index .primary h1 {
      font-family: cursiva;
      font-size: 3em;
      font-text-shadow: 2px 2px grey; }
      @media (min-width: 768px) {
        .index .primary h1 {
          font-size: 6em; } }
      @media (min-width: 1200px) {
        .index .primary h1 {
          font-size: 6em; } }
    .index .primary p {
      font-size: 1.5em;
      color: black;
      font-family: "Roboto-BlackItalic";
      text-shadow: 2px 2px white; }
    .index .primary a {
      background-color: burlywood;
      color: black;
      border-radius: 15px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      padding: 15px;
      display: block;
      font-weight: bold;
      size: 1em;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center; }
      @media (min-width: 768px) {
        .index .primary a {
          display: inline-block;
          size: 4em; } }
      @media (min-width: 1200px) {
        .index .primary a {
          display: inline-block;
          size: 4em; } }

/*css page nosotros y elementos*/
/*grilla*/
.cont1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "header header" "caja1 caja1" "caja2 caja2" "caja3 caja3" "caja4 caja4" "caja0 caja0" "footer footer"; }
  @media (min-width: 768px) {
    .cont1 {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "header header" "caja0 caja0" "caja1 caja2" "caja4 caja3" "footer footer"; } }
  @media (min-width: 1200px) {
    .cont1 {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "header header" "caja0 caja0" "caja1 caja2" "caja4 caja3" "footer footer"; } }
  .cont1 header, .cont1 footer {
    grid-area: header;
    margin: 0%; }
  .cont1 .caja1 {
    grid-area: caja1;
    margin: 0%; }
  .cont1 .caja2 {
    grid-area: caja2;
    display: flex;
    justify-content: center;
    margin: 0%; }
  .cont1 .caja0 {
    grid-area: caja0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
  .cont1 .caja3 {
    grid-area: caja3;
    margin: 0%; }
  .cont1 .caja4 {
    grid-area: caja4;
    display: flex;
    justify-content: center;
    margin: 0%; }
  .cont1 footer {
    grid-area: footer;
    margin: 0%; }

body {
  background-color: #debd81;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%; }
  body h1 {
    font-family: cursiva;
    font-size: 4em; }
    @media (min-width: 768px) {
      body h1 {
        font-size: 6em; } }
    @media (min-width: 1200px) {
      body h1 {
        font-size: 6em; } }
  body header, body footer {
    background-image: linear-gradient(25deg, brown, gold, orange, burlywood);
    border-bottom: dotted 8px #913737;
    margin: 0%;
    padding: 0%; }
  body nav {
    margin: 0%;
    padding: 0%; }
    body nav li {
      justify-content: end;
      display: inline-block;
      font-size: 1em; }
    body nav a {
      color: black;
      font-family: "Roboto-BlackItalic";
      size: 1em; }

a .ain .aprod .asuc .aprom .acont {
  transition: all 1s; }

a:hover {
  background-image: linear-gradient(orange, #eeeae4);
  font-size: larger; }

div h2,
div h3 {
  font-family: "Roboto-BlackItalic";
  font-size: 3em; }

div p {
  font-family: "Roboto-Italic";
  font-size: 1em; }

/*imagenes*/
div {
  margin: 0%; }
  div .panes {
    width: 20%;
    border-style: groove;
    border-radius: 50%;
    border-width: 8px; }
  div .frola {
    width: 17%;
    border-style: groove;
    border-width: 8px; }
  div .tortaf {
    width: 20%;
    border-style: groove;
    border-radius: 50%;
    border-width: 8px;
    margin: 0%; }

.img2 {
  width: 30rem;
  border-style: groove;
  border-width: 8px;
  margin: 0%; }
  @media (min-width: 768px) {
    .img2 {
      margin: 10px; } }

.img3 {
  width: 30rem;
  border-style: groove;
  border-width: 8px; }
  @media (min-width: 768px) {
    .img3 {
      margin: 1em; } }
  @media (min-width: 1200px) {
    .img3 {
      margin: 1em; } }

.logo {
  width: 8rem;
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start; }

/*footer*/
footer {
  text-align: center;
  border-top: dotted 8px #913737;
  margin: 0%; }

.face {
  width: 3em; }

.watsapp {
  width: 3em;
  margin-left: 20px;
  margin-right: 40px; }

span {
  font-family: "Roboto-BlackItalic"; }

/*pagina sucursales IMAGENES*/
.mapa {
  width: 28em;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .mapa {
      margin-left: 3em; } }

/*aplicando css a tabla*/
caption {
  text-align: center;
  font-family: "Roboto-Italic";
  font-size: 1em;
  color: black;
  caption-side: top; }

/*pagina productos APLICANDO css*/
div .boxx {
  margin-top: 1em; }

div .carru {
  margin-top: 2em;
  margin-bottom: 2em; }

.lunch {
  margin-left: 50%; }

/*listas productos*/
.listas {
  margin-bottom: 1em; }
  .listas ul li {
    display: list-item; }

.ipan {
  width: 80px;
  height: 80px;
  margin: 2%; }

.ipastel {
  width: 30%;
  margin: 1em;
  padding: 0%; }

.ibombom {
  width: 30%; }

/*pagina promociones*/
.promo {
  width: 75%;
  border-style: groove;
  border-width: 8px;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .promo {
      width: 58%; } }
  @media (min-width: 1200px) {
    .promo {
      width: 58%; } }

.inframe {
  border-style: groove;
  border-width: 8px;
  margin: 0%; }

.tarj {
  display: flex;
  justify-content: space-around;
  width: 100vw; }
  .tarj section {
    margin: 5px;
    width: 18em; }
    @media (min-width: 768px) {
      .tarj section {
        margin-left: 1em; } }
    @media (min-width: 1200px) {
      .tarj section {
        margin-left: 1em; } }

/*css para pagina contacto*/
.contacto {
  margin: 0%;
  width: 100vw; }
  .contacto .containerForm {
    width: 50%;
    background-image: url(../img/medialunas.webp);
    background-repeat: no-repeat;
    opacity: 0.75;
    background-size: cover;
    padding: 20px;
    margin-bottom: 2em; }
  .contacto .campos-form {
    display: flex;
    flex-direction: column; }
  .contacto .label-form {
    font-family: sans-serif;
    color: #ffffff; }
  .contacto #botonEnviar {
    width: 100px;
    height: 40px;
    color: grey;
    background-color: #ffffff;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 1em;
    transition: all s; }
    .contacto #botonEnviar:hover {
      background-image: linear-gradient(burlywood, gold);
      font-size: larger; }

/*page gracias*/
.grs {
  background-image: url(../img/medialunas.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw; }
  .grs h3 {
    font-family: cursiva;
    font-size: 2em;
    color: #100f0f;
    text-shadow: 3px 3px grey; }
    @media (min-width: 768px) {
      .grs h3 {
        font-size: 6em; } }
    @media (min-width: 1200px) {
      .grs h3 {
        font-size: 6em; } }
  .grs p {
    font-size: 1em;
    color: white;
    font-family: "Roboto-Italic";
    text-shadow: 3px 3px grey; }
    @media (min-width: 768px) {
      .grs p {
        font-size: 2em;
        text-shadow: 3px 3px grey; } }

.gracias {
  margin-top: 5rem; }
