/*colores*/
$color-nav:linear-gradient(#ffa500, rgb(241, 237, 232));
$color-fot:linear-gradient(25deg, brown, gold, orange, burlywood);
$color-hov:linear-gradient(orange, rgb(238, 234, 228));
$color-tex:black;
$color-btn:linear-gradient(burlywood, gold);


/*mapa de color*/
$color:(primary:burlywood,secundary:antiquewhite,tercero:rgb(222, 189, 129));



/*breakpoint*/
$desktop:768px;
$xxl:1200px;

/*tamaños*/
$size-a-ft: 1em;
$size-2: 2em;
$size-3:6em;
$radius:15px;
$padding:15px;

//sombreado
$shadow:0 10px 30px rgba(0, 0, 0, .4);


/*fuentes*/
$font-1:"Roboto-BlackItalic";
$font-2:"Roboto-Italic";

$border-1:3px solid chocolate;
$border-2:dotted 8px rgb(145, 55, 55);