/*colores*/
$color-nav:linear-gradient(#ffa500, rgb(241, 237, 232));
$color-fot:linear-gradient(25deg, brown, gold, orange, burlywood);
$color-hov:linear-gradient(orange, rgb(238, 234, 228));
$color-tex:black;
$color-tex2:chocolate;
$color-back1:burlywood;
$color-back2:antiquewhite;
$color-btn:linear-gradient(burlywood, gold);

/*tamaños*/
$size-a-ft: 1rem;
$size-2: 2rem;


/*fuentes*/
$font-1:"Roboto-BlackItalic";
$font-2:"Roboto-Italic";

$border-1:3px solid chocolate;
$border-2:dotted 8px rgb(145, 55, 55)