@import 'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($color, $color-name);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* fuentes descargadas a utilizar*/
@font-face {
    font-family: "Roboto-BlackItalic";
    src: url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf)
}

/*pagina Bienvenidos index*/
.index {
    height: 100vh;
    width: 100vw;

    .bienv {
        height: 100%;
        min-width: 100%;
        margin: 0%;
        padding: 0%;
        background-image: url(../img/medialunas.webp);
        position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg {
        background-color: color(secundary);
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        position: absolute;
        z-index: -1;
        clip-path: polygon(0 0, 35% 0, 65% 100%, 0 100%);

        @include desktop {
            clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
        }

        @include xxl {
            clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);

        }
    }

    .primary {
        grid-area: primary;

        @include desktop {
            text-align: left;
            margin: 4em 0 0 4em;
            color: $color-tex;
        }

        @include xxl {
            text-align: left;
            margin: 4em 0 0 4em;
            color: $color-tex
        }

        h1 {
            font: {
                family: cursiva;
                size: 3em;
            }

            @include desktop {
                font-size: $size-3
            }

            @include xxl {
                font-size: $size-3;
            }
        }

        p {
            font-size: 1em;
            color: black;
            font-family: $font-1;
        }

        a {
            background-color: color(primary);
            color: $color-tex;
            border-radius: $radius;
            box-shadow: $shadow;
            padding: $padding;
            display: block;
            font-weight: bold;
            size: 1em;

            text: {
                decoration: none;
                transform: uppercase;
                align: center;
            }

            @include desktop {
                display: inline-block;
                size: 4em;
            }

            @include xxl {
                display: inline-block;
                size: 4em;
            }
        }

    }
}

/*css page nosotros y elementos*/
/*grilla*/
.cont1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header"
        "caja1 caja1"
        "caja2 caja2"
        "caja3 caja3"
        "caja4 caja4"
        "caja0 caja0"
        "footer footer";

    @include desktop {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header header"
            "caja0 caja0"
            "caja1 caja2"
            "caja4 caja3"
            "footer footer";
    }

    @include xxl {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header header"
            "caja0 caja0"
            "caja1 caja2"
            "caja4 caja3"
            "footer footer";
    }

    header {
        grid-area: header;
    }

    .caja1 {
        grid-area: caja1;
        margin: 10px;
    }

    .caja2 {
        grid-area: caja2;
        display: flex;
        justify-content: center;
    }

    .caja0 {
        grid-area: caja0;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .caja3 {
        grid-area: caja3;
    }

    .caja4 {
        grid-area: caja4;
        display: flex;
        justify-content: center;
    }

    footer {
        grid-area: footer;
    }
}

body {
    background-color: color(tercero);
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;

    h1 {
        font: {
            family: cursiva;
            size: 4em;
        }

        @include desktop {
            font-size: $size-3
        }

        @include xxl {
            font-size: $size-3;
        }
    }

    header {
        background-image: $color-fot;
        border-bottom: $border-2;
        margin: 0%;
        padding: 0%;
    }

    nav {
        margin: 0%;
        padding: 0%;

        li {
            justify-content: end;
            display: inline-block;
            font-size: $size-a-ft;
        }

        a {
            color: $color-tex;
            font-family: $font-1;
            size: 1em;
        }
    }

}

a {
    .ain .aprod .asuc .aprom .acont {
        transition: all 1s;
    }

    &:hover {
        background-image: $color-hov;
        font-size: larger;
    }
}

div {

    h2,
    h3 {
        font-family: $font-1;
        font-size: 3em;
    }

    p {
        font-family: $font-2;
        font-size: 1em;
    }
}

/*imagenes*/
div {
    margin: 0%;

    .panes {
        width: 20%;
        border-style: groove;
        border-radius: 50%;
        border-width: 8px;
    }

    .frola {
        width: 17%;
        border-style: groove;
        border-width: 8px;
    }

    .tortaf {
        width: 20%;
        border-style: groove;
        border-radius: 50%;
        border-width: 8px;
    }
}

.img2 {
    width: 30rem;
    border-style: groove;
    border-width: 8px;

    @include desktop {
        margin: 10px;
    }
}

.img3 {
    width: 30rem;
    border-style: groove;
    border-width: 8px;
    margin: $size-a-ft
}

.logo {
    width: 8rem;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
}

/*footer*/
footer {
    @extend header;
    text-align: center;
    border-top: $border-2;
}

.face {
    width: 3em;
}

.mail {
    width: 3em;
    margin-left: 20px;
    margin-right: 40px;
}

span {
    font-family: $font-1;
}

/*pagina sucursales IMAGENES*/
.mapa {
    width: 28em;
    margin-bottom: 1em;

    @include desktop {
        margin-left: 3em;
    }
}

/*aplicando css a tabla*/
caption {
    text-align: center;
    font-family: $font-2;
    font-size: 1em;
    color: black;
    caption-side: top;
}

/*pagina productos APLICANDO css*/
div .boxx {
    margin-top: $size-a-ft;
}

div .carru {
    margin-top: $size-2;
    margin-bottom: $size-2;
}

.lunch {
    margin-left: 50%;
}

/*listas productos*/
.listas {
    margin-bottom: 1em;

    ul {
        li {
            display: list-item;
        }
    }
}

.ipan {
    width: 80px;
    height: 80px;
    margin: 2%;
}

.ipastel {
    width: 30%;
    margin: 1em;
    padding: 0%
}

.ibombom {
    width: 30%;
}

/*pagina promociones*/
.promo {
    width: 58%;
    border-style: groove;
    border-width: 8px;
    margin-bottom: 5px;
}

.inframe {
    border-style: groove;
    border-width: 8px;
}

.tarj{
    display: flex;
    justify-content: space-around;

    section{
margin: 5px;
width: 18em;
    

    @include desktop {
        margin-left: 1em;
    }

    @include xxl {
        margin-left: 1em;
    }
    }
}

/*css para pagina contacto*/
.maincontacto {
    margin: 0%;
    padding: 0%
}

fieldset {
    background-image: url(../img/medialunas.webp);
    opacity: 0.75;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-2;
    color: white;
    padding-left: $padding;
    margin-bottom: 2em;

    @include desktop {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10%;
        padding-left: $padding;
    }

    @include xxl {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10%;
        padding-left: $padding;
    }
}

legend {
    font-family: $font-1;
    font-size: 2em;
    text-align: center;
}

label {
    display: block;
    padding: 5px;
}

.gender {
    padding: 10px;
}

.txt {
    margin-top: 10px;
    margin-bottom: 2px;
}

.medioc {
    margin: 10px;
}

input {
    .enviar .reset {
        margin: 1em;
        transition: all 2s;
    }

    &:hover {
        background-image: $color-btn;
        font-size: larger;
    }
}